* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    color-scheme: light;
    color: CanvasText;
    background-color: Canvas;
}

#app {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4px;
    user-select: none;
    background-image: URL("./images/background.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    overflow-x: hidden;
}

#display {
    width: 100%;
    text-align: center;
    font-size: 2em;
}

.row {
    width: 100%;
    display: flex;
    gap: 4px;
}

.element {
    position: relative;

    width: 5vw;
    height: 70px;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    background-color: grey;
    border: 2px solid black;
}

.row-number {
    background-color: rgb(244, 180, 84);
}

.atomic-number {
    position: absolute;
    top: 0;
    left: 0;

    margin-left: 5px;
    margin-top: 5px;
}

.special-element {
    margin-right: auto;
}

.special-cell {
    background-color: rgb(238, 245, 147);
}

.special-row {
    justify-content: end;
}

.shake-x {
    animation: shakeX 0.5s 2;
    border-color: red;
}

@media (min-width: 1440px) {
    .element {
        width: 5.2vw;
    }
}

@keyframes shakeX {
    0%, 100% {
        transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-5px);
    }
    20%, 40%, 60%, 80% {
        transform: translateX(5px);
    }
}
